/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ***********/
header {
    margin-bottom: 45px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-left: 68px;
    /*espacement entre les liens*/
}

nav img {
    width: 61px;
    height: 19px;
    margin-top: 20px;
}

nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 16px;
}

/*** Search filters wrapper ***/

.search-filters-wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
}


h1 {
    margin-bottom: 8px;
    font-size: 22px;
}

/* Pour resserrer l'espace entre le h1 et le p */
p {
    margin: 0;
}

/****** research section ***********/

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#location-icon {
    background-color: var(--main-bg-color);
    padding: 17px 18px 17px 18px;
    border-radius: 15px 0px 0px 15px;
    color: black;
}

#search-input {
    max-width: 180px;
    width: 100%;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
    padding: 0px 15px 0px 14px;
    height: 47px;
    margin: 0;
    outline: none;
    /*pour enlever le contour noir quand on clique dans le champ*/
}

input::placeholder {
    color: black;
}

#search-button {
    padding: 14px 16px 14px 16px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    font-size: 18px;
    height: 49px;
    margin: 0 0 0 -4px;
}


#search-icon {
    display: none;
}

/****** Filters et info ***********/

.filter-wrapper-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px;
}

.filter-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 17px;
    padding: 11px 19px 11px 19px;
    margin: 0;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
}

.filter-button-container i {
    font-size: 22px;
    color: var(--main-color);
}

.filter-container h2 {
    /*quid de mettre en h3 ?*/
    margin: 0;
    font-size: 18px;
}

.filter-button-container:hover {
    background-color: var(--filter-bg-color);
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px 0px 35px 0px;
    gap: 10px;
}

.info-container p {
    margin: 0px;
    font-size: 16px;

}

.info-icon {
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    padding: 6px 10px 6px 10px;
    font-size: 12px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ******/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergement-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergement-cards a {
    width: 30%;
    flex-grow: 1;
}

.hebergement-cards img {
    width: 100%;
    height: 124px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /* object-fit: cover déjà présent dans les classes générales */
}

.hebergement-cards .card-content {
    width: 100%;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergement-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergement-cards .card-subtitle {
    margin: 0;
}

.hebergement-cards .card-rating {
    margin-top: 8px;
    margin-bottom: 15px;
}

#show-more {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}


/****** Populaires *******/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********* Activities ***********/

.activities {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px;
}

.activities-cards {
    display: flex;
    gap: 30px;
}

.activities-cards a {
    width: 25%;
}

.activities-cards .card-title {
    padding: 20px 19px;
    margin: 0;
}

.card-activity {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-activity img {
    width: 100%;
    height: 380px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

/******* footer *******/

footer {
    display: flex;
    background-color: var(--main-bg-color);
}

.footer-link {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 40%;
}

.footer-link h3 {
    margin: 0;
    font-size: 18px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    header {
        margin-bottom: 30px;
    }

    .filter-container h2 {
        width: 100%;
        padding: 5px;
    }

    .filter-container {
        flex-wrap: wrap;
    }

    .search-container {
        margin-bottom: 30px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-activity {
        height: 270px;
    }

    .card-activity img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0;
    }

    .main-container {
        padding: 0;
    }

    /** header **/

    header {
        margin-bottom: 20px;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    nav div {
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 10px;
        border-bottom: 2px solid var(--main-bg-color);
    }

    nav a {
        margin-left: 0;
        padding-bottom: 16px;
        width: 50%;
        text-align: center;
    }

    nav a:hover {
        color: var(--main-color);
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        padding-top: 0;
    }


    /**search-filters-wrapper **/

    .search-filters-wrapper {
        padding: 0 15px;
    }

    .search-filters-wrapper h1 p {
        padding: 10px;
    }

    .search-container {
        margin: 0;
    }

    #location-icon {
        padding: 17px 18px 17px 18px;
        border-radius: 15px 0px 0px 15px;
    }

    #search-input {
        max-width: 160px;
        padding: 0px 22px 0px 15px;
    }

    #search-button {
        border-radius: 15px;
        padding: 16px 15px 15px 16px;
        width: 49px;
        margin: 0 0 0 -9px;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
    }

    #search-text {
        display: none;
    }

    #search-icon {
        display: block;
        border: none;
        color: white;
        font-size: 17px;
        height: 19px;
    }


    /** filters and info **/

    .filter-wrapper-container {
        width: 100%;
    }

    .filter-container {
        width: 100%;
    }

    .filter-button-container {
        width: 47%;
        font-size: 14px;
        padding: 11px 13px 11px 11px;
    }

    .info-container p {
        font-size: 15px;
    }

    /** hebergement and populaire **/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        width: 100%;
        background-color: transparent;
        padding: 20px;
    }

    /** Populaires **/

    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
    }

    .populaires {
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    /* hebergements */

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements {
        gap: 15px;
    }

    .hebergement-cards {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .hebergement-cards a {
        width: 100%;
    }

    #show-more {
        font-size: 16px;
    }

    /* Activities*/

    .activities {
        padding: 60px 30px 60px;
    }

    .activities-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .activities-cards a {
        width: 100%;
    }

    /* footer */

    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }

    .footer-link {
        width: 100%;
        padding: 0;
    }


}